@import url("./style.css");

.cabecalho {
    display: flex;
    margin: 2rem 11.25rem;
}

.cabecalho__bloco{
    display: flex;
    margin-right: auto;
    gap: 30px;
}

.cabecalho__logo {
    display: flex;
    align-items: center; 
}

.cabecalho__titulo {
    font-size: 32px;
    color: var(--cor-II);
}

.destaque {
    color: var(--cor-III);
}

.cabecalho__pesquisa {
    display: flex;
    align-items: center;
    background-color: var(--cor-IV);
    border-radius: 25px;
    padding: 10px 20px;
}

.pesquisa__texto {
    padding-right: 110px;
    background-color: var(--cor-IV);
    border: none;
    font-size: 12px;
    outline: 0;

}

.botao__login {
    display: flex;
    align-items: center;
    color: var(--cor-II);
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    border: 1px solid var(--cor-II);
    padding: 12px 55px;
}

.botao__login:hover {
    background-color: var(--cor-hover);
    font-size: 20;
    font-weight: 700;
    color: var(--cor-III);
}