@import url('./style.css');

.container {
    margin: 60px 180px;
}
.cards__titulo__secao {
    display: flex;
    padding-bottom: 1rem 0;
    align-items: center;
    justify-content: space-between;

}

.card__titulo {
    font-size: 32px;
    font-weight: bold;
    color: var(--cor-III);
}

.card__botao {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-II);
    text-decoration: none;
}
.cards {
    display: flex;
    gap: 55px;
    margin-bottom: 3.5rem;  
}
.nome__produto {
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-III);
    margin: .5rem 0;
}

.valor__produto {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-III);
    margin: .5rem 0;
}

.detalhes__produto {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-II);
}
