@import url('./style.css');


.container {
    background-color: var(--cor-VI);
}

.conteiner__produtos{
    font-family: var(--fonte-primaria);
    margin: 60px 182px 0 182px;
}
.cards__titulo__secao{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding-top: 70px;
}

.card__titulo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--cor-III);
    padding-right: 800px;
}

.card__botao {
    text-decoration: none;
    background-color: var(--cor-II);
    color: var(--cor-I);
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.nome__produto {
   font-size: 14px;
   font-weight: 500; 
   font-family: var(--fonte-primaria);
}

.valor__produto {
    font-size: 16px;
    font-weight: bold;
    color: var(--cor-III);
}

.detalhes__produto {
   font-size: 14px;
   font-weight: 500; 
   padding-bottom: 60px;
}