@import url('./style.css');


.rodape {
    background-color: var(--cor-V);  
    font-family: var(--fonte-primaria);
}

.rodape__container {
    display: flex;
    column-gap: 155px;
    margin: 0 0 2rem 11.25rem;
    padding-top: 4rem;
}

.rodape__logo {
    display: flex;
    align-self: self-start;
    align-items: center;
    
   
}

.rodape__lista {
    line-height: 2rem;
    list-style-type: none;
}

.item {
    text-decoration: none;
    font-size: 1rem;
    color: var(--cor-III);
}
.rodape__form {
    display: flex;
    flex-direction: column;
}
.rodape__titulo {
    font-size: 1rem;
    font-weight: bold;
}
.entrada__nome {
    width: 640px;
    height: 35px;
    margin: 10px 0;
    outline: none;
    border: none;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    padding-left: 5px;
}

.entrada__texto {
    width: 645px;
    height: 80px;
    font-family: var(--fonte-primaria);
    outline: none;
    border: none;
    margin-bottom: 10px;
    font-weight: 400;
    padding-left: 5px; 
}

.entrada__nome::placeholder,
 .entrada__texto::placeholder {
    padding-left: 5px;

}

.rodape__botao {
    width: 200px;
    font-family: var(--fonte-primaria);
    font-size: 16px;
    font-weight: 400;
    color: var(--cor-I);
    background-color: var(--cor-II);
    padding: 20px;
    border: none;
}

.rodape__autor{
    background-color: var(--cor-I);
    padding: 2rem;
    text-align: center;
}

.rodape__autor--texto{
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-III);
}