@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
}

:root {
    --cor-I: #ffffff;
    --cor-II: #2A7AE4;
    --cor-III: #464646;
    --cor-IV: #f7f0f09f;
    --cor-hover:#85b4f2d4;
    --cor-V: #EAF2FD;
    --cor-VI: #E5E5E5;
    --fonte-primaria: 'Raleway', sans-serif;
}

body {
    background-color: var(--cor-I);
    font-family: var(--fonte-primaria);
}